@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,
h6,pre,code,form,fieldset,legend,input,
textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:normal 12px "돋움" ,dotum;color:#000;}




#bestbook_zone{
	margin-bottom:40px;overflow:hidden;
}
#bestbook_zone h3{margin-bottom:10px;}
#best_bg{
	width:963px;height:243px;
	padding-top:18px;
	background:url("../images/bestbook_bg.gif") 0 0 no-repeat;
	position:relative;
}
#best_bg span, #best_bg span strong{
	display:block;text-align:center;
}
#best_bg span strong{
	color:#88332e;font-weight:bold;
}
#best_bg span{
	padding-top:18px;
}
#best_bg .prev_btn{
	position:absolute;top:98px;left:50px;
}
#best_bg .next_btn{
	position:absolute;top:98px;right:50px;
}