@charset "utf-8";
/* CSS Document */

#wrap {}

body {
    background: url(../img/sec1.jpg) no-repeat top center;
    background-size: cover; 
}

.header_menu .gnb>li:nth-child(4).on a{/*color: #ffec6a;*/ color: #d4164c }

#contents .content1{width: 1100px; height: 200px; background: rgba(15,22,30,0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -90%); padding: 20px;}
.content1 h1{text-align: center; color: #fff; font-size: 25px; margin-bottom: 20px; margin-top: 10px;} 
.content1 p{color: #c2c4c7; font-size: 16px;}

#box {
    margin: 550px auto 0;
    width: 1100px;
    height: 400px;
    border: 1px solid rgba(69,15,15,0.8);
    
   
    background: rgba(69,15,15,0.8);
}

#box li {}

#box li img{
    width: 130px; text-align: center; transition: all 0.5s;
    padding-left: 8px;
} 

#box li img:hover{transform: scale(1.1);}

#box h2 {
    text-align: center;
    margin: 20px 0;
    color:#fff;
    font-size: 26px;
}

#best_bg {
    width: 1100px;
    height: 250px;
    padding-top: 18px;
    /*border: 1px solid #888;*/
    position: relative;
    padding-left: 15px;
}

#best_bg span,
#best_bg span strong {
    display: block;
    text-align: center;
}

#best_bg span strong {
    color: #e7aa01; 
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    
}

#best_bg li a{
    color: #c5d3c3;
    font-size: 14px;
}

#best_bg span {
    padding-top: 18px;
}

#best_bg .prev_btn {
    position: absolute;
    top: 98px;
    left: 50px;
}

#best_bg .next_btn {
    position: absolute;
    top: 98px;
    right: 50px;
}

/* box2 */
#box2 {
    margin: 40px auto 0;
    width: 1100px;
    height: 350px;
    border: 1px solid rgba(15,22,30,0.7);
    
    background: rgba(15,22,30,0.7);
}

#box2 li img{
    width: 200px;
} 

#box2 h2 {
    text-align: center;
    margin: 40px 0 0;
    color:#fff;
    font-size: 26px;
}


#best_bg2 {
    width: 1100px;
    height: 200px;
    padding-top: 48px;
    /*border: 1px solid #888;*/
    position: relative;
    box-sizing: border-box;
}

#best_bg2 span,
#best_bg2 span strong {
    display: block;
    text-align: center;
}

#best_bg2 span strong {
    color: #e7aa01; 
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
    
}

#best_bg2 li a{
    color: #c5d3c3;
    font-size: 14px;
}

#best_bg2 span {
    padding-top: 18px;
}

#best_bg2 .prev_btn2 {
    position: absolute;
    top: 82px;
    left: 50px;
}

#best_bg2 .next_btn2 {
    position: absolute;
    top: 82px;
    right: 50px;
}